body {
    background-color: #6e8783
}

header {
    height: 5rem;
    background-color: #db504a;
    top: 0;
    border: 3px #334259 solid;
    position: sticky;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'DotGothic16', sans-serif;
}

.navopt {
    display: flex;
    list-style: none;
}

.navitem {
    padding: 1rem;
    color: #6e8783
}

.navitem:hover {
    background-color: #edddd0
}

a:visited {
    color: #334259
}

.about {
    margin-top: 2rem;
    top: 10;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10rem 5rem;
    gap: 5px;
    background-color: #e5e5dc;
    width: 35rem;
    border: 3px #334259 solid;
}

.title {
    font-size: 2rem;
    font-family: 'DotGothic16', sans-serif;
}

.subtitle {
    grid-row: 2;
    font-family: 'DotGothic16', sans-serif;
}

.abouttext {
    grid-row: 3;
    font-size: 1.5rem;
    font-family: 'Gurajada', serif;
}

.image {
    padding-left: 10rem;
    grid-row: 4;
    grid-column: 1;
}

.courselist {
    margin-top: 2rem;
    padding-top: 3rem;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 10rem 10rem;
    background-color: #e5e5dc;
    width: 23rem;
    border: 3px #334259 solid;
    list-style: none;
}

.listtitle {
    font-size: 1.5rem;
    font-family: 'DotGothic16', sans-serif;
}

.course {
    list-style: none;
    font-size: 1rem;
    padding-top: 1rem;
}

.courseitem {
    padding-top: 1rem;
    font-family: 'Gurajada', serif;
    font-size: 1.5rem;
}

.tragedy {
    margin-top: 2rem;
    padding-top: 3rem;
    padding-left: 2rem;
    display: grid;
    grid-template-columns: 40rem 20rem;
    grid-template-rows: 8rem 25rem;
    background-color: #e5e5dc;
    width: 50rem;
    border: 3px #334259 solid;
}

.copypasta {
    grid-row: 2;
    font-family: 'Gurajada', serif;
    font-size: 1.5rem;
}

.tragedyimage {
    grid-row: 3;
}

footer {
    height: 3rem;
    background-color: #db504a;
    border: 3px #334259 solid;
    font-family: 'DotGothic16', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}