body {
    background-color: #db504a
}

header {
    height: 5rem;
    background-color: #6e8783;
    top: 0;
    border: 3px #334259 solid;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navopt {
    display: flex;
    list-style: none;
}

.navitem {
    padding: 1rem;
}

.navitem:hover {
    background-color: #edddd0
}

a:visited {
    color: #334259
}

.about {
    display: grid;
    grid-template-columns: 20rem 20rem;
    grid-template-rows: 10rem 10rem;
    gap: 5px;
}

.title {
    font-size: 2rem;
}

.subtitle {
    grid-row: 2;
}

.abouttext {
    grid-row: 3;
    font-size: 1.2rem;
}

.image {
    grid-row: 2;
}